/* Main css styles for the kamvox website */

/* Source Mods -------------------------------------------- */
body {
	background-color: #868e96;
	color: #343a40;
	font-family: 'Oswald', sans-serif;
}
audio {
	width: 18rem;
}
h1.title {
	font-size: 4rem;
	float: none;
	clear: left;
}
a:link {
	text-decoration: none;
	color: #343a40;
}
a:visited {
	text-decoration: none;
	color: #343a40;
}
a:hover {
	text-decoration: underline;
	color: #343a40;
}
a:active {
	text-decoration: none;
	color: #343a40;
}
h2.subtitle {
	font-size: 1.889rem;
	margin-top: -3rem;
}
img.icon {
	width: 3rem;
	margin-right: 1rem;
	float: right;
}

/* Divs ---------------------------------------------------- */

div.mainbody {
	max-width: 1100px;
	margin: auto;
	border-left: 0.4rem solid;
	text-align: left;
	padding-left: 0.25rem;
}
div.title {
	/* margin-top: 25%; */
	margin-bottom: 8rem;
}

div.topshelf {
	display: flex;
}
img.kamface {
	width: 33%; 
	float: left;
}

div.content {
	padding-bottom: 0.25rem;
}
div.quotebox {
	/* border: 0.4rem solid; */
	padding: 0.5rem;
	margin-left: 0.25rem;
	margin-bottom: 0.25rem;
	max-width: 24rem;
}
div.quotebox b {
	font-size: 2rem;
	padding-right: 1rem;
}
div.quote {
	padding-left: 2rem;
	text-indent: 1rem;
}

/* -------------------------------------------------------------------------------------------- */
/* Media Resize ------------------------------------------------------------------------------- */

@media screen and (max-width: 600px) {
	body {
		font-size: 0.8rem;
	}
	audio{
		max-width: 12rem;
	}
	img.icon {
		display: none;
	}
	h1.title {
		font-size: 3rem;
	}
	h2.subtitle {
		font-size: 1.4rem;
		margin-top: -2rem;
	}
	div.title {
		margin-bottom: 2rem;
	}
	div.topshelf {
		display: inline;
	}
	img.kamface {
		float: none;
		width: 40%;
	}
}
@media screen and (max-width: 300px) {
	body {
		font-size: 0.6rem;
	}
	h1.title {
		font-size: 2rem;
	}
	h2.subtitle {
		font-size: 1rem;
	}
}